@charset "utf-8";

/* 表示領域全体 */
div.tabbox {
   margin: 0px; padding: 0px; width: 850px;
}

/* タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   display: block; width: 150px; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center; background-color: gray;
   color: white;
}
p.tabs a:hover {
    color: black;
}

/* タブ中身のボックス */
div.tab { height: auto; overflow: auto; clear: left;}
div.tab p { margin: 0.5em; }

/* ツイート部分 */
div.tweet {
    background-color: aliceblue;
    margin: 2px;
    padding: 2px;
    width: 800px;
}

div.tweet img {
    float: left;
    margin: 5px;
}

div.screen_name  a:link { color: black }
div.screen_name  a:visited { color: black }
